@model ListLibraryItemViewModel
@{
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Library Item List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="LibraryItem" asp-action="Create" class="btn btn-primary">Create New Library Item</a>
        </div>
    </div>
    <br /><br />

    @if (Model.libraryItems.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Pages</th>
                    <th>Run Time Minues</th>
                    <th>Is Barrowable</th>
                    <th>Barrower</th>
                    <th>Barrow Date</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.libraryItems)
                {
                    <tr>
                        <td>@obj.Title</td>
                        <!-- Move this part into the controller for better separation of concerns -->
                        <td>@Model.categories.Where(category => category.Id == obj.CategoryId).First().CategoryName</td>
                        <td>@obj.Author</td>
                        <td>@obj.Pages</td>
                        <td>@obj.RunTimeMinutes</td>
                        <td>@obj.IsBorrowable</td>
                        <td>@obj.Borrower</td>
                        <td>@obj.BorrowDate</td>
                        <td>@obj.Type</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                @if (obj.BorrowDate == null)
                                {
                                    <form asp-controller="CheckInOut" asp-action="CheckOut" asp-route-Id="@obj.Id " method="post">
                                        <button class="btn btn-success mx-2" type="submit">Check Out</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="CheckInOut" asp-action="CheckIn" asp-route-Id="@obj.Id " method="post">
                                        <button class="btn btn-warning mx-2" type="submit">Check In</button>
                                    </form>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Exist</p>
    }

</div>