@model ListLibraryItemViewModel
@{
    ViewData["Title"] = "Library Item";
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">Library Item List</h2>
        </div>
        <div class="col-4">
            <form asp-action="Index" method="get">
                <select name="sortingId" class="form-select custom-select" aria-label="Default select example">
                    <option selected>Sort by</option>
                    <option value="Title">Title</option>
                    <option value="Category">Category</option>
                    <option value="Author">Author</option>
                    <option value="Pages">Pages</option>
                    <option value="RunTimeMinutes">Run Time</option>
                    <option value="Borrowable">Barrowable</option>
                    <option value="Type">Type</option>
                </select>
                <button type="submit" class="btn btn-info">Sort</button>
            </form>

        </div>
        <div class="col-4 text-right">
            <a asp-controller="LibraryItem" asp-action="Create" class="btn btn-primary">Create New Library Item</a>
        </div>
    </div>
    <br /><br />

    @if (Model.libraryItems.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Pages</th>
                    <th>Run Time Minues</th>
                    <th>Borrowable</th>
                    <th>Borrower</th>
                    <th>Borrow Date</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for(int i = 0; i < Model.libraryItems.Count(); i++)
                {
                    <tr>
                        <td>@Model.libraryItems.ElementAt(i).Title (@Model.acronyms.ElementAt(i))</td>
                        <td>@Model.categories.Where(category => category.Id == Model.libraryItems.ElementAt(i).CategoryId).First().CategoryName</td>
                        <td>@Model.libraryItems.ElementAt(i).Author</td>
                        <td>@Model.libraryItems.ElementAt(i).Pages</td>
                        <td>@Model.libraryItems.ElementAt(i).RunTimeMinutes</td>
                        <td>@Model.libraryItems.ElementAt(i).IsBorrowable</td>
                        <td>@Model.libraryItems.ElementAt(i).Borrower</td>
                        <td>@Model.libraryItems.ElementAt(i).BorrowDate</td>
                        <td>@Model.libraryItems.ElementAt(i).Type</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="LibraryItem" asp-route-Id="@Model.libraryItems.ElementAt(i).Id" asp-action="Edit" class="btn btn-info mx-2">Edit</a>
                                <form asp-action="Delete" asp-route-id="@Model.libraryItems.ElementAt(i).Id " method="post">
                                    <button type="submit" class="btn btn-danger mx-2">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Exist</p>
    }

</div>