@model ListLibraryItemViewModel
@{
    ViewData["Title"] = "Library Item";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">Library Item List</h2>
        </div>
        <div class="col-4">
            <form asp-action="Index" method="get">
                <select name="sortingId" class="form-select custom-select" aria-label="Default select example">
                    <option selected>Sort by</option>
                    <option value="Title">Title</option>
                    <option value="Category">Category</option>
                    <option value="Author">Author</option>
                    <option value="Pages">Pages</option>
                    <option value="RunTimeMinutes">Run Time</option>
                    <option value="Borrowable">Barrowable</option>
                    <option value="Type">Type</option>
                </select>
                <button type="submit" class="btn btn-info">Sort</button>
            </form>

        </div>
        <div class="col-4 text-right">
            <a asp-controller="LibraryItem" asp-action="Create" class="btn btn-primary">Create New Library Item</a>
        </div>
    </div>
    <br /><br />

    @if (Model.libraryItems.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th><label asp-for="@Model.libraryItems.First().Title"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().Category"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().Author"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().Pages"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().RunTimeMinutes"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().IsBorrowable"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().Borrower"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().BorrowDate"></label></th>
                    <th><label asp-for="@Model.libraryItems.First().Type"></label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach(var item in Model.libraryItems)
                {
                    <tr>
                        <td>@item.Title (@await Model.GetAcronym(item))</td>
                        <td>@Model.categories.Where(category => category.Id == item.CategoryId).First().CategoryName</td>
                        <td>@item.Author</td>
                        <td>@item.Pages</td>
                        <td>@item.RunTimeMinutes</td>
                        <td>@item.IsBorrowable</td>
                        <td>@item.Borrower</td>
                        <td>@item.BorrowDate</td>
                        <td>@item.Type</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="LibraryItem" asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-info mx-2">Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Id " method="post">
                                    <button type="submit" class="btn btn-danger mx-2">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Exist</p>
    }

</div>